{% extends 'base.html' %}
{% load static %}
{% block content %} 

<!-- <form method ="POST"> -->
       
<div class="row">
    {% for product in user.profile.cart.all %}
    
<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
        
        <div class="block2-img wrap-pic-w of-hidden pos-relative">
            <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

            <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>
                
                <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <!-- {% if request.user.is_authenticated %}  -->
                                       
                    <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" href="{% url 'cart:cart_detail' product.id %}">
                        Remove item
                    </a>
            <!-- {% endif %} -->
        </div>
            </div>
        </div>
        <center>       
        <div class="block2-txt p-t-20">
            
                    {{ product.title }}
           
            <span class="block2-price m-text6 p-r-5">
                    <b>RS. {{ product.price }}</b>
            </span>
        </div>        
    </center>
    </div>
</div>
<!-- </form> -->
    {% endfor %}
</div>
<div>
   <b> Total: {{user.profile.get_cart_total}}</b><br/>
</div>
<br/>
<div class="header-cart-wrapbtn">
    <!-- Button -->
    <a href="{% url 'productAdd:delivery' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
        Check Out
    </a>
</div><br/><br/><br/>
{% endblock %}


