{% extends 'base.html' %}
{% load static %}
{% block content %} 

<!-- <form method ="POST"> -->
        <h3 class="m-text5 t-center">Your Orders</h3>
<div class="row">
        {% for order in order_list %}
    
<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">        
        <center>       
        <div class="block2-txt p-t-20">              
            <table border=1> 
                <tr><td><b>User: </td><td>{{ order.user }}</b><br></td></tr>
                <tr><td><b>Products:</td><td>{{ order.product }}</b><br/> </td></tr>                 
                <tr><td><b>Ordering Date:</td><td>{{ order.order_date }}</b><br/>   </td></tr>   
                {% if not order.delivery_date == None%}                          
                <tr><td><b>Delivery Date:</td><td>{{ order.delivery_date }}</b><br/> </td></tr>   
                {% else %}               
                <tr><td><b>Delivery Date:</td><td>Not specified</b><br/> </td></tr>   
                {% endif %}
                <tr><td><b>Name of product received Person:</td><td>{{ order.delivery }}</b><br/>  </td></tr>   
                <tr><td><b>Amount Paid:</td><td>{{ order.total_amount }}</b><br/>  </td></tr>                 
            </table>           
           
            {% if order.delivery_date == None%} 
            
                <form onsubmit="return confirm('Do you really want to cancel the order?');" type="submit" method="POST" action ="{% url 'cart:cancel_order'%}">
                    {% csrf_token %}                     
                        <button type="submit" onclick="fun();" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" name="order_id" value="{{ order.id }}">
                                cancel Order
                        </button>                                    
                </form>            
            {% endif %} 
                     
        </div>        
    </center>
    </div>
</div>
<!-- </form> -->
    {% endfor %}
</div>
{% endblock %}


