{% extends 'base.html' %}
{% load static %}
{% block content %} 

<!-- <form method ="POST"> -->
       
<div class="row">
        {% for product in Product_list %}
    
<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
        
        <div class="block2-img wrap-pic-w of-hidden pos-relative">
            <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

            <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>
                {%if not request.user.is_superuser%}
                <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <!-- {% if request.user.is_authenticated %}  -->
                                       
                    <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" href="{% url 'productAdd:cart_detail' product.id %}">
                    Add to Cart
                    </a>
            <!-- {% endif %} -->
        </div>
        {% endif %}
        
        
            </div>
        </div>
        <center>       
        <div class="block2-txt p-t-20">
            <a href="{% url 'productAdd:listproducts' %}" class="block2-name dis-block s-text3 p-b-5">
                    {{ product.title }}
            </a>
            <span class="block2-price m-text6 p-r-5">
                    <b>RS. {{ product.price }}</b>
            </span>
        </div> 
        {%if request.user.is_superuser%}  
        <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" href="{% url 'productAdd:delete_product' product.id %}">
            Delete Product
        </a>
        {% endif %}     
    </center>
    </div>
</div>
<!-- </form> -->
    {% endfor %}
</div>
{% endblock %}


