{% extends 'base.html' %}
{% load static %}
{% block content %} 

<!-- <form method ="POST"> -->
        
<div class="row">
        
    
<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
        
        <div class="block2-img wrap-pic-w of-hidden pos-relative">
            <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

            <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>
                
                
                    <!-- Button -->
                    <!-- {% if request.user.is_authenticated %}  -->
                    
                    <!-- {% endif %} -->
               
                
            </div>
        </div>
        <center>        
        <div class="block2-txt p-t-20">
            <a href="{% url 'productAdd:listproducts' %}" class="block2-name dis-block s-text3 p-b-5">
                    <a href="#" class="block2-name dis-block s-text3 p-b-5">
                            {{ product.title }}<br/>
                        </a>

                   
                    {% if product.flower_type == 1 %}

                   Flower type: <b> Rose </b>
                   {%else%}
                   Flower type: <b>Mixed Flower </b>

                   {% endif %}
                    
            </a>
            <span class="block2-price m-text6 p-r-5">
                    <b>RS. {{ product.price }}</b>
            </span>
            <form type="submit" method="POST">
                {% csrf_token %}                     
        <button type="submit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
        Delete
        </button>                                    
        </form>
        </div>
        
    </center>
    </div>
</div>
<!-- </form> -->
 
</div>
<!-- ===============================================================================================-->


<!--=============================================================================================== -->



{% endblock %}


